* {
  margin: 0;
  padding: 0; }

i, em, b {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html, html body, html main, html main ul {
  width: 100%;
  height: 100%; }
  html body, html main ul body {
    display: flex;
    flex-direction: column;
    background: #f5f5f5; }
  html header, html main ul header {
    width: 100%;
    height: 3.32rem; }
    html header .hea {
      width: 100%;
      height: 1.8rem;
      background: #148ad2;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      html header .hea i {
        font-size: 0.36rem; }
      html header .hea b {
        flex: 1;
        text-align: center;
        font-size: 0.44rem; }
      html header .hea em {
        font-size: 0.4rem; }
    html header .nav-new {
      color: #148ad2; }
    html header nav, html header nav ul {
      width: 100%;
      height: 1.52rem;
      line-height: 1.52rem;
      background: #fff; }
      html header nav ul {
        font-size: 0.4rem;
        display: flex; }
        html header nav ul li {
          flex: 1;
          justify-content: center;
          text-align: center; }
  html .cloUmn {
    height: 6.12rem;
    display: flex;
    flex-direction: column; }
    html .cloUmn .m-top {
      width: 100%;
      height: 1.2rem;
      line-height: 1.2rem;
      text-indent: 0.75em;
      font-size: 0.68rem; }
    html .cloUmn .m-cent {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      html .cloUmn .m-cent div {
        width: 4.4rem;
        height: 3.6rem;
        border-radius: 0.25rem; }
        html .cloUmn .m-cent div img {
          width: 4.4rem;
          height: 3.6rem; }
        html .cloUmn .m-cent div:first-child {
          margin-left: 0.55rem; }
        html .cloUmn .m-cent div:last-child {
          margin-right: 0.55rem; }
    html .cloUmn .m-bot {
      width: 100%;
      height: 1.16rem;
      line-height: 1.16rem;
      margin-top: 0.2rem;
      display: flex;
      justify-content: space-between;
      font-size: 0.28rem;
      color: #8f8f8f; }
      html .cloUmn .m-bot .m-bot-l {
        margin-left: 0.55rem; }
      html .cloUmn .m-bot .m-bot-r {
        display: flex;
        flex-direction: row; }
        html .cloUmn .m-bot .m-bot-r div {
          margin-right: 0.55rem; }
  html main, html main ul main {
    overflow-y: auto; }
    html main ul li {
      width: 100%;
      height: 4.4rem;
      border-bottom: 1px solid #eee;
      display: flex; }
      html main ul li .main-l-pic {
        padding: 0 0.55rem;
        width: 4.52rem;
        position: relative; }
        html main ul li .main-l-pic img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 4.52rem;
          height: 3.6rem; }
      html main ul li .main-r-box {
        flex: 1; }
        html main ul li .main-r-box .main-r-t {
          width: 100%;
          height: 3rem;
          font-size: 0.68rem;
          line-height: 1.2rem; }
          html main ul li .main-r-box .main-r-t p {
            padding-top: 0.44rem;
            margin-right: 0.55rem; }
        html main ul li .main-r-box .main-r-b {
          display: flex;
          justify-content: space-between;
          flex: 1;
          width: 100%;
          height: 1.4rem;
          font-size: 0.28rem;
          color: #8f8f8f; }
          html main ul li .main-r-box .main-r-b .main-r-b-r {
            display: flex;
            flex-direction: row; }
            html main ul li .main-r-box .main-r-b .main-r-b-r div {
              margin-right: 0.55rem; }

/*# sourceMappingURL=mode.css.map */
